<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="../add_page.css">
</head>
<body>
    <div class="section-4">
        <div class="frame-1">
          <div class="rectangle-6"></div>
          <svg
            class="rectangle-5"
            width="342"
            height="42"
            viewBox="0 0 342 42"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
          </svg>
          <svg
            class="rectangle-14"
            width="277"
            height="47"
            viewBox="0 0 277 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 10C0 4.47715 4.47715 0 10 0H267C272.523 0 277 4.47715 277 10V37C277 42.5228 272.523 47 267 47H10C4.47716 47 0 42.5228 0 37V10Z"
              fill="#D8D8D8"
              fill-opacity="0.5"
            />
          </svg>
          <svg
            class="rectangle-16"
            width="277"
            height="49"
            viewBox="0 0 277 49"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 10C0 4.47715 4.47715 0 10 0H267C272.523 0 277 4.47715 277 10V39C277 44.5228 272.523 49 267 49H10C4.47716 49 0 44.5228 0 39V10Z"
              fill="#D8D8D8"
              fill-opacity="0.5"
            />
          </svg>
          <svg
            class="rectangle-17"
            width="277"
            height="47"
            viewBox="0 0 277 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 10C0 4.47715 4.47715 0 10 0H267C272.523 0 277 4.47715 277 10V37C277 42.5228 272.523 47 267 47H10C4.47716 47 0 42.5228 0 37V10Z"
              fill="#D8D8D8"
              fill-opacity="0.5"
            />
          </svg>
          <svg
            class="rectangle-15"
            width="550"
            height="224"
            viewBox="0 0 550 224"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 30C0 13.4315 13.4315 0 30 0H520C536.569 0 550 13.4315 550 30V194C550 210.569 536.569 224 520 224H30C13.4315 224 0 210.569 0 194V30Z"
              fill="#D8D8D8"
              fill-opacity="0.5"
            />
          </svg>
          <svg
            class="rectangle-18"
            width="230"
            height="191"
            viewBox="0 0 230 191"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 30C0 13.4315 13.4315 0 30 0H200C216.569 0 230 13.4315 230 30V161C230 177.569 216.569 191 200 191H30C13.4315 191 0 177.569 0 161V30Z"
              fill="#D8D8D8"
              fill-opacity="0.5"
            />
          </svg>
          <div class="add-a-partner">Add A Partner!</div>
          <div class="rectangle-7"></div>

          <form action="/addd" method="POST" >

            <input type="text" class="organization-name" name = "organization" placeholder="Organization Name"  >
            <img class="user" src="/img/user.png" />

            <input type="text" class="phone-number" name = "number" placeholder="Phone Number" autocomplete="off">
            <img class="phone-bubble" src="/img/phone.png" />
    
            <input type="text" class="gmail" name= "email" placeholder="Email" autocomplete="off">
            <img class="gmail-logo" src="/img/gmail.png" />
    
            <textarea type="text" class="description" name = "description" placeholder="Description"></textarea>
            <textarea type="text" class="additional-info" name = "additional" placeholder="Additional Info"></textarea>
          
              <button class="add-contact">
                <span class="add-contactspan" name="add">Add Contact</span>
              </button>
          </form>
         
          <svg
            class="rectangle-8"
            width="82"
            height="11"
            viewBox="0 0 82 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_28_5)">
              <path
                d="M0 5.40987C0 2.42208 2.42208 0 5.40987 0H39.6774H76.5065C79.5405 0 82 2.45954 82 5.49353V5.49353C82 8.53257 79.5326 10.9942 76.4935 10.987L5.39713 10.8197C2.41432 10.8127 0 8.39268 0 5.40987V5.40987Z"
                fill="#A9A6A6"
              />
              <path
                d="M76.4947 10.487L5.39831 10.3197C2.69118 10.3133 0.5 8.117 0.5 5.40987C0.5 2.69822 2.69822 0.5 5.40987 0.5H39.6774H76.5065C79.2643 0.5 81.5 2.73568 81.5 5.49353C81.5 8.25597 79.2572 10.4935 76.4947 10.487Z"
                stroke="#A9A6A6"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_28_5"
                x="-4"
                y="0"
                width="90"
                height="18.9871"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_28_5"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_28_5"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
          <svg
            class="rectangle-11"
            width="80"
            height="11"
            viewBox="0 0 80 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_29_11)">
              <path
                d="M0 5.41003C0 2.42215 2.42215 0 5.41003 0H38.7097H74.5066C77.5405 0 80 2.45946 80 5.49337V5.49337C80 8.53244 77.5325 10.994 74.4934 10.9867L5.39697 10.82C2.4142 10.8128 0 8.3928 0 5.41003V5.41003Z"
                fill="#A9A6A6"
              />
              <path
                d="M74.4946 10.4867L5.39818 10.32C2.69108 10.3135 0.5 8.11713 0.5 5.41003C0.5 2.69829 2.69829 0.5 5.41003 0.5H38.7097H74.5066C77.2644 0.5 79.5 2.73561 79.5 5.49337C79.5 8.25583 77.257 10.4934 74.4946 10.4867Z"
                stroke="#A9A6A6"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_29_11"
                x="-4"
                y="0"
                width="88"
                height="18.9868"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_29_11"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_29_11"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
          <svg
            class="rectangle-12"
            width="81"
            height="11"
            viewBox="0 0 81 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_29_12)">
              <path
                d="M0 5.40995C0 2.42212 2.42212 0 5.40995 0H39.1935H75.5065C78.5405 0 81 2.4595 81 5.49345V5.49345C81 8.53251 78.5325 10.9941 75.4935 10.9869L5.39705 10.8199C2.41427 10.8128 0 8.39274 0 5.40995V5.40995Z"
                fill="#A9A6A6"
              />
              <path
                d="M75.4947 10.4869L5.39825 10.3199C2.69113 10.3134 0.5 8.11707 0.5 5.40995C0.5 2.69826 2.69826 0.5 5.40995 0.5H39.1935H75.5065C78.2644 0.5 80.5 2.73564 80.5 5.49345C80.5 8.2559 78.2571 10.4935 75.4947 10.4869Z"
                stroke="#A9A6A6"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_29_12"
                x="-4"
                y="0"
                width="89"
                height="18.9869"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_29_12"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_29_12"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
          <svg
            class="rectangle-10"
            width="81"
            height="11"
            viewBox="0 0 81 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_29_10)">
              <path
                d="M0 5.40995C0 2.42212 2.42212 0 5.40995 0H39.1935H75.5065C78.5405 0 81 2.4595 81 5.49345V5.49345C81 8.53251 78.5325 10.9941 75.4935 10.9869L5.39705 10.8199C2.41427 10.8128 0 8.39274 0 5.40995V5.40995Z"
                fill="#A9A6A6"
              />
              <path
                d="M75.4947 10.4869L5.39825 10.3199C2.69113 10.3134 0.5 8.11707 0.5 5.40995C0.5 2.69826 2.69826 0.5 5.40995 0.5H39.1935H75.5065C78.2644 0.5 80.5 2.73564 80.5 5.49345C80.5 8.2559 78.2571 10.4935 75.4947 10.4869Z"
                stroke="#A9A6A6"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_29_10"
                x="-4"
                y="0"
                width="89"
                height="18.9869"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_29_10"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_29_10"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
          <svg
            class="ellipse-9"
            width="360"
            height="287"
            viewBox="0 0 360 287"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M360 85.5365C360 137.557 360 113.514 360 246.874C172.946 359.25 0 208.172 0 128.436C0 59.8905 142.642 -13.3176 360 2.07015C360 85.5365 360 33.5162 360 85.5365Z"
              fill="#D9D9D9"
              fill-opacity="0.3"
            />
          </svg>

          <svg
            class="incoming-mail-svgrepo-com-1"
            width="415"
            height="401"
            viewBox="0 0 415 401"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_41_6)">
              <path
                d="M44.8246 210.901C44.808 172.169 44.7872 120.832 44.7748 88.0614C44.774 86.5369 45.0842 85.0273 45.6876 83.6187C46.291 82.2102 47.1757 80.9303 48.2912 79.8523C49.4067 78.7743 50.7312 77.9192 52.1889 77.3361C53.6465 76.7529 55.2088 76.453 56.7865 76.4535C108.54 76.4388 258.503 76.3893 319.867 76.3679C321.445 76.3669 323.009 76.6664 324.467 77.2495C325.926 77.8325 327.251 78.6876 328.368 79.7659C329.484 80.8442 330.37 82.1245 330.974 83.5336C331.578 84.9428 331.889 86.4532 331.888 87.9785C331.888 131.94 331.908 203.341 331.926 248.83C341.428 261.742 361.819 288.892 371.785 305.343C372.774 306.979 373.293 308.84 373.288 310.735C373.288 312.413 373.252 314.445 373.252 316.543C373.249 318.679 372.369 320.726 370.806 322.236C369.242 323.745 367.122 324.593 364.911 324.593H10.4089C9.49554 324.594 8.59108 324.42 7.74716 324.083C6.90323 323.745 6.13636 323.251 5.49034 322.627C4.84432 322.003 4.33182 321.262 3.98209 320.447C3.63237 319.632 3.45227 318.758 3.45209 317.875C3.45209 307.509 3.41195 320.918 3.41195 310.748C3.40811 308.846 3.92889 306.978 4.92068 305.335C14.9987 288.705 35.4705 260.692 44.8398 247.982C44.8357 238.604 44.8301 225.67 44.8246 210.901Z"
                fill="white"
              />
              <path
                d="M312.208 256.705C313.379 256.705 314.533 256.979 315.571 257.503C316.609 258.027 317.501 258.785 318.17 259.714C322.69 265.952 327.553 272.849 331.873 279.572C332.204 280.083 332.388 280.671 332.404 281.275C332.421 281.878 332.27 282.474 331.968 283.003C331.666 283.531 331.223 283.971 330.685 284.278C330.147 284.585 329.534 284.747 328.909 284.748H47.795C47.1726 284.749 46.5612 284.589 46.0239 284.285C45.4866 283.982 45.043 283.545 44.7388 283.02C44.4346 282.495 44.2809 281.902 44.2936 281.3C44.3062 280.699 44.4848 280.112 44.8108 279.6C49.1418 272.86 54.0182 265.944 58.5499 259.686C59.2195 258.762 60.1103 258.007 61.1466 257.487C62.1829 256.967 63.334 256.696 64.5018 256.698C116.373 256.698 260.344 256.698 312.215 256.698"
                fill="#CFCFCF"
              />
              <path
                d="M315.302 261.341C318.143 265.266 320.953 269.213 323.69 273.208C325.019 275.15 326.331 277.104 327.624 279.071C327.985 279.622 328.923 280.746 329.08 281.142C329.188 281.409 329.1 281.543 328.885 281.59C328.796 281.611 328.054 281.544 327.812 281.544H49.5958C49.0297 281.544 48.3279 281.551 47.8144 281.556C47.7936 281.556 47.5749 281.187 47.6178 281.556C47.5555 281.031 48.3404 280.219 48.7252 279.621C51.4312 275.475 54.2438 271.388 57.1076 267.339C58.4401 265.455 59.7837 263.578 61.1383 261.708C61.4456 261.283 61.9508 260.173 62.4339 259.943C62.8783 259.859 63.3346 259.85 63.782 259.918H111.548H198.014H296.487C300.763 259.918 300.769 253.498 296.487 253.498H127.316H88.9461H66.4272C63.3654 253.498 59.9742 253.117 57.6488 255.489C56.1523 257.224 54.7916 259.064 53.578 260.994C52.0859 263.075 50.6095 265.165 49.1487 267.263C47.7895 269.216 46.4468 271.179 45.1208 273.154C43.8045 275.119 41.922 277.243 41.2452 279.523C40.9679 280.508 40.9272 281.54 41.1262 282.541C41.3253 283.543 41.7587 284.487 42.3935 285.302C43.0282 286.117 43.8475 286.781 44.7885 287.242C45.7295 287.704 46.7673 287.952 47.8227 287.967C49.8754 288.042 51.9461 287.967 54.0002 287.967H325.776C326.671 287.967 327.567 287.978 328.462 287.967C329.376 288.006 330.289 287.871 331.149 287.569C332.009 287.267 332.799 286.805 333.474 286.208C334.148 285.611 334.695 284.891 335.082 284.09C335.468 283.289 335.688 282.422 335.728 281.539C335.751 279.332 334.537 277.63 333.361 275.833C332.069 273.866 330.758 271.911 329.427 269.97C326.691 265.975 323.881 262.028 321.038 258.103C320.577 257.385 319.849 256.865 319.004 256.65C318.158 256.436 317.259 256.544 316.494 256.951C315.738 257.386 315.19 258.09 314.967 258.912C314.744 259.733 314.865 260.606 315.302 261.343V261.341Z"
                fill="#211715"
              />
              <path
                d="M57.6378 91.7501C57.6479 114.665 57.6581 137.585 57.6682 160.508L57.6973 228.056C57.6973 232.719 57.6996 237.381 57.7042 242.042C57.7167 242.89 58.0707 243.699 58.691 244.299C59.3113 244.898 60.149 245.24 61.0262 245.252L98.8774 245.239L154.382 245.22L215.912 245.2L272.512 245.181L312.457 245.169H315.743C316.62 245.157 317.458 244.815 318.078 244.215C318.698 243.616 319.052 242.807 319.065 241.959C319.057 222.053 319.048 202.148 319.039 182.244C319.029 161.53 319.02 140.815 319.011 120.1L318.999 91.6712C318.986 90.8236 318.632 90.0142 318.012 89.4148C317.392 88.8154 316.554 88.4733 315.677 88.4612L293.778 88.4693L239.908 88.4853L171.807 88.5067L107.217 88.5268L64.0312 88.5388H60.9597C56.6855 88.5388 56.6772 94.9586 60.9597 94.9586L100.569 94.96L163.548 94.9399L232.162 94.9185L288.669 94.9011L306.836 94.8944C309.632 94.8944 312.5 95.0737 315.292 94.8944C315.418 94.8864 315.548 94.8944 315.674 94.8944L312.352 91.6845L312.377 146.341C312.385 167.529 312.395 188.716 312.405 209.903C312.405 220.594 312.409 231.284 312.419 241.973L315.741 238.763L278.487 238.774L223.29 238.791L161.778 238.811L104.905 238.831L64.3994 238.844H61.0262L64.3482 242.054C64.3334 228.871 64.3274 215.688 64.3302 202.506L64.2969 126.792C64.2914 115.111 64.2863 103.431 64.2817 91.7501C64.2803 87.6227 57.6364 87.616 57.6378 91.7501Z"
                fill="#211715"
              />
              <path
                d="M48.1466 210.901L48.1175 140.022C48.1175 128.631 48.1129 117.24 48.1037 105.85C48.1037 100.845 48.1037 95.8396 48.1037 90.8339C47.8882 88.7406 48.1383 86.627 48.8373 84.6347C49.7208 82.7472 51.2855 81.2353 53.2389 80.3816C56.0003 79.1779 59.5189 79.6634 62.4823 79.6621H71.7451H93.7408L147.629 79.6447L208.117 79.6246L266.451 79.5965L314.034 79.5791C317.494 79.5791 321.37 79.0348 324.461 80.8417C326.185 81.861 327.48 83.4381 328.115 85.2928C328.603 87.3431 328.756 89.4548 328.566 91.5508C328.566 101.527 328.566 111.504 328.566 121.479C328.566 144.261 328.571 167.042 328.581 189.824C328.581 200.922 328.585 212.02 328.592 223.119C328.592 228.221 328.592 233.323 328.592 238.426C328.592 240.818 328.592 243.211 328.592 245.604C328.592 246.674 328.518 247.767 328.592 248.83C328.816 250.083 329.415 251.246 330.316 252.174C342.282 268.378 354.465 284.496 365.397 301.379C366.59 303.222 367.817 305.062 368.908 306.963C370.451 309.652 369.944 312.884 369.922 315.846C370.015 316.802 369.831 317.765 369.391 318.626C368.952 319.487 368.273 320.213 367.431 320.723C366.282 321.27 364.999 321.499 363.724 321.383H13.7226C12.0616 321.383 9.88429 321.718 8.44061 320.827C5.94912 319.29 6.94018 316.083 6.76439 313.676C6.51663 310.268 1.08934 309.077 0.239467 312.822C0.157723 313.486 0.111522 314.153 0.101051 314.82H6.74502C6.38558 312.503 6.57488 310.136 7.29868 307.899C8.87288 304.801 10.7143 301.836 12.8035 299.036C17.1124 292.434 21.5957 285.939 26.1357 279.485C30.6287 273.096 35.1784 266.744 39.7849 260.43C41.7227 257.77 43.6647 255.114 45.6108 252.462C46.6168 251.385 47.4403 250.161 48.0511 248.835C48.5729 247.007 48.1688 244.545 48.1674 242.666L48.1549 210.901C48.1549 206.769 41.5109 206.763 41.5109 210.901C41.5109 223.261 41.516 235.621 41.5262 247.982L41.9802 246.361C28.9179 264.084 15.7697 281.869 4.06667 300.469C2.19528 303.432 0.43325 306.254 0.138424 309.801C-0.0274656 311.47 -0.0404348 313.149 0.0996673 314.82C0.0996673 315.672 0.449661 316.488 1.07265 317.09C1.69565 317.692 2.5406 318.03 3.42165 318.03C4.30269 318.03 5.14765 317.692 5.77065 317.09C6.39364 316.488 6.74502 315.672 6.74502 314.82C6.8073 314.295 7.02046 312.885 6.64674 314.529L0.12043 313.676C0.197943 314.731 0.130119 315.816 0.130119 316.869C-0.029054 319.674 0.936649 322.431 2.82646 324.565C5.45636 327.393 8.9749 327.803 12.654 327.803H360.827C363.31 327.997 365.809 327.839 368.244 327.335C370.989 326.52 373.336 324.774 374.855 322.42C376.573 319.745 376.565 316.852 376.591 313.809C376.623 310.217 376.512 306.947 374.653 303.724C373.481 301.688 372.169 299.711 370.887 297.745C368.012 293.319 365.026 288.959 361.999 284.627C355.617 275.495 349.032 266.495 342.411 257.523C339.872 254.085 337.334 250.648 334.798 247.21L335.252 248.83C335.243 227.915 335.236 207 335.23 186.085C335.222 163.66 335.218 141.235 335.216 118.811C335.216 109.05 335.216 99.2893 335.216 89.5285C335.216 84.4341 333.748 79.7276 329.473 76.4455C325.563 73.4482 321.232 73.1593 316.456 73.1593L270.502 73.1754L213.437 73.1941L153.531 73.2141L99.0366 73.2315L58.0807 73.2436C53.1974 73.2436 48.6061 74.5904 45.3008 78.255C41.5912 82.3691 41.4528 87.0823 41.4542 92.2516L41.4666 123.849L41.4957 194.697C41.4957 200.1 41.498 205.502 41.5026 210.903C41.504 215.031 48.148 215.039 48.1466 210.901Z"
                fill="#211715"
              />
              <path
                d="M344.458 303.021H43.0155C38.9364 303.021 34.849 302.942 30.7699 303.021C30.5941 303.021 30.4183 303.021 30.2425 303.021C25.9668 303.021 25.9599 309.441 30.2425 309.441H331.685C335.762 309.441 339.851 309.52 343.929 309.441C344.105 309.441 344.282 309.441 344.458 309.441C348.732 309.441 348.739 303.021 344.458 303.021Z"
                fill="#211715"
              />
              <path
                d="M231.372 130.686C234.648 152.566 238.892 180.916 242.193 202.966C242.336 203.923 242.673 204.844 243.185 205.676C243.697 206.508 244.373 207.234 245.175 207.813C245.978 208.392 246.89 208.813 247.861 209.051C248.831 209.289 249.841 209.34 250.832 209.201C277.064 205.534 332.922 197.733 360.352 193.896C361.343 193.759 362.297 193.433 363.158 192.939C364.019 192.445 364.771 191.791 365.37 191.016C365.969 190.241 366.404 189.359 366.65 188.421C366.895 187.482 366.947 186.507 366.802 185.549C363.493 163.509 359.252 135.162 355.982 113.275C355.841 112.317 355.504 111.396 354.993 110.563C354.482 109.731 353.806 109.004 353.004 108.425C352.202 107.845 351.289 107.424 350.318 107.186C349.348 106.948 348.338 106.898 347.346 107.037C324.342 110.247 263.455 118.759 237.825 122.342C236.834 122.48 235.881 122.806 235.02 123.3C234.16 123.794 233.408 124.447 232.809 125.222C232.21 125.997 231.774 126.878 231.528 127.816C231.281 128.754 231.228 129.729 231.372 130.686Z"
                fill="white"
              />
              <path
                d="M228.525 131.681C231 148.217 233.475 164.752 235.951 181.287C236.557 185.341 237.164 189.394 237.771 193.447L238.664 199.405C238.819 201.268 239.14 203.114 239.623 204.924C240.228 206.703 241.309 208.296 242.756 209.541C244.204 210.785 245.967 211.638 247.866 212.012C250.88 212.563 254.103 211.737 257.103 211.317C284.344 207.51 311.584 203.704 338.824 199.899L356.698 197.399C359.959 196.943 363.109 196.712 365.792 194.639C367.303 193.44 368.459 191.874 369.14 190.103C369.821 188.331 370.003 186.417 369.667 184.555C367.291 168.071 364.729 151.61 362.265 135.136C361.646 131.002 361.027 126.867 360.41 122.731C360.142 120.934 359.873 119.135 359.603 117.336C359.437 115.305 359.092 113.292 358.572 111.317C357.978 109.575 356.927 108.01 355.523 106.775C354.119 105.541 352.408 104.678 350.556 104.27C347.832 103.695 345.02 104.373 342.311 104.752L307.845 109.566L266.693 115.318L248.617 117.844L240.931 118.914C237.843 119.346 234.943 119.631 232.403 121.589C230.992 122.682 229.888 124.1 229.191 125.712C228.494 127.324 228.226 129.079 228.413 130.817C228.438 131.661 228.796 132.463 229.413 133.06C230.031 133.657 230.861 134.003 231.735 134.027C232.614 134.022 233.455 133.682 234.077 133.081C234.699 132.48 235.051 131.667 235.057 130.817C234.932 130.219 234.939 129.603 235.077 129.008C235.214 128.413 235.479 127.852 235.854 127.361C236.229 126.871 236.706 126.462 237.254 126.16C237.803 125.859 238.411 125.672 239.039 125.611C241.247 125.244 243.481 124.99 245.698 124.674L261.664 122.444L300.22 117.056L335.731 112.094L342.858 111.098L345.834 110.682C346.727 110.493 347.639 110.403 348.553 110.414C351.702 110.691 352.354 113.357 352.734 115.886C353.296 119.652 353.858 123.419 354.422 127.186C356.791 143.034 359.163 158.881 361.538 174.726C362.092 178.379 362.828 182.058 363.19 185.732C363.269 186.309 363.227 186.894 363.067 187.455C362.906 188.015 362.63 188.538 362.255 188.993C361.88 189.447 361.414 189.824 360.885 190.101C360.356 190.377 359.774 190.548 359.175 190.602C353.916 191.504 348.58 192.084 343.298 192.822C316.978 196.502 290.658 200.18 264.337 203.855L256.082 205.008C253.867 205.318 251.192 206.078 249.196 205.719C246.101 205.162 245.774 202.294 245.399 199.793L243.692 188.391C241.306 172.457 238.92 156.522 236.535 140.586L234.944 129.96C234.706 129.142 234.143 128.448 233.378 128.029C232.613 127.609 231.708 127.498 230.858 127.718C230.015 127.96 229.301 128.508 228.866 129.246C228.431 129.985 228.309 130.857 228.525 131.681Z"
                fill="#211715"
              />
              <path
                d="M242.973 139.104C257.348 148.215 271.903 157.057 286.636 165.63C288.297 166.593 289.958 167.552 291.619 168.506C293.467 169.739 295.431 170.801 297.485 171.678C298.451 172 299.475 172.13 300.494 172.06C301.514 171.99 302.508 171.721 303.417 171.269C305.256 170.096 306.883 168.637 308.232 166.953C314.506 160.539 320.659 154.021 326.691 147.397C333.635 139.807 340.471 132.127 347.201 124.357C347.803 123.745 348.139 122.932 348.139 122.088C348.139 121.243 347.803 120.431 347.201 119.818C346.575 119.223 345.731 118.889 344.852 118.889C343.973 118.889 343.13 119.223 342.503 119.818C331.153 132.864 319.598 145.745 307.592 158.23C306.171 159.707 304.743 161.178 303.308 162.644C302.634 163.333 301.959 164.02 301.282 164.706C300.857 165.137 300.495 165.735 299.82 165.674C299.266 165.624 298.516 164.983 298.065 164.726L295.749 163.407C294.002 162.409 292.258 161.404 290.516 160.394C283.38 156.256 276.289 152.047 269.244 147.766C261.556 143.105 253.917 138.37 246.325 133.562C242.739 131.288 239.406 136.845 242.973 139.104Z"
                fill="#211715"
              />
              <path
                d="M410.818 124.396L380.312 128.664L375.907 129.282C375.061 129.513 374.342 130.057 373.908 130.796C373.473 131.535 373.358 132.409 373.586 133.23C373.84 134.039 374.405 134.723 375.166 135.14C375.927 135.558 376.825 135.676 377.673 135.472L408.173 131.205L412.578 130.589C413.424 130.358 414.143 129.813 414.577 129.074C415.011 128.335 415.126 127.46 414.898 126.639C414.645 125.83 414.079 125.146 413.319 124.729C412.558 124.311 411.66 124.193 410.812 124.398L410.818 124.396Z"
                fill="#211715"
              />
              <path
                d="M401.569 143.743L381.42 146.565L378.559 146.966C377.713 147.197 376.994 147.741 376.56 148.481C376.126 149.22 376.011 150.095 376.239 150.915C376.492 151.725 377.058 152.409 377.818 152.826C378.579 153.243 379.477 153.362 380.325 153.157L400.475 150.335L403.336 149.934C404.182 149.703 404.9 149.159 405.335 148.42C405.769 147.681 405.884 146.806 405.656 145.986C405.402 145.177 404.837 144.493 404.076 144.076C403.316 143.658 402.418 143.54 401.569 143.744V143.743Z"
                fill="#211715"
              />
              <path
                d="M392.835 163.017L382.656 164.443L381.211 164.645C380.376 164.865 379.664 165.394 379.226 166.116C379.006 166.48 378.862 166.882 378.803 167.3C378.743 167.718 378.77 168.143 378.881 168.55C378.991 168.958 379.184 169.341 379.448 169.677C379.712 170.013 380.041 170.295 380.418 170.508C381.208 170.895 382.111 171.009 382.977 170.832L393.157 169.406L394.602 169.203C395.436 168.981 396.149 168.453 396.587 167.731C397.031 166.982 397.151 166.093 396.922 165.258C396.689 164.454 396.143 163.767 395.399 163.341C394.609 162.954 393.706 162.84 392.84 163.017H392.835Z"
                fill="#211715"
              />
            </g>
            <defs>
              <clipPath id="clip0_41_6">
                <rect width="415" height="401" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div> 
    <script> 
    
    </script>          
</body>    
</html>