<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FBLA Project</title>
  <link rel="stylesheet" href="../login_page.css"> <!-- Linking external CSS file -->
</head>
<body>
  <div class="section-3">
    <!-- Sign Up Section -->
    <div class="section-2">
      <div class="log_in">Login To Access The Page</div> <!-- Header -->

      <!-- Register Form -->
  


      <!-- Additional Input Fields -->
      <!-- Styling for additional input fields -->
      <svg class="rectangle-4" width="342" height="50" viewBox="0 0 342 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5C0 2.23858 2.23858 0 5 0H337C339.761 0 342 2.23858 342 5V45C342 47.7614 339.761 50 337 50H5C2.23858 50 0 47.7614 0 45V5Z" fill="#EEEEEE"/>
      </svg>

      <svg class="rectangle-3" width="342" height="50" viewBox="0 0 342 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5C0 2.23858 2.23858 0 5 0H337C339.761 0 342 2.23858 342 5V45C342 47.7614 339.761 50 337 50H5C2.23858 50 0 47.7614 0 45V5Z" fill="#EEEEEE"/>
      </svg>

      <!-- Password and Email Address Inputs -->
      <!-- Form for user login -->
      <form action="/login" method="POST" >
        
        <input type="email" name="username" class="email-address" placeholder="Email Address" autocomplete="off"> <!-- Email input field -->
        <img class="gmail-logo" src="/img/gmail.png" /> <!-- Gmail logo -->

        <input type="password" class="password" name="password" placeholder="Password" autocomplete="off"> <!-- Password input field -->
        <img class="lock" src="/img/lock.png" /> <!-- Lock icon -->

      
          <button class="bn54">
            <span class="bn54span">Login</span> <!-- Login button -->
          </button>
      </form>

      <!-- Icons -->
      <div class="hello">Welcome Back!</div> <!-- Welcome message -->
    </div>

    <!-- Section 1 -->
    <div class="section-1">
      <!-- Ellipse SVGs -->
      <!-- Styling for ellipses -->
      <svg class="ellipse-3" width="405" height="134" viewBox="0 0 405 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M405 0C405 75.5808 313.669 134 208.895 134C104.121 134 0 75.5808 0 0" stroke="white" stroke-opacity="0.2" stroke-width="0.5"/>
      </svg>

      <svg class="ellipse-5" width="227" height="46" viewBox="0 0 227 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M227 0C227 24.6112 161.848 46 109.217 46C56.5858 46 0 24.6112 0 0" stroke="white" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>

      <svg class="ellipse-6" width="335" height="94" viewBox="0 0 335 94" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M335 0C335 24.3842 252.85 94 157.898 94C75.1892 94 0 24.3842 0 0" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>

      <div class="title">Welcome Back To - <br>SchoolConnect Partners!</div> <!-- Title -->
      </div>

      <a class="register" href="/" >Register</a> <!-- Link to Register page -->

      <!-- Additional Ellipse SVGs -->
      <!-- Styling for additional ellipses -->
      <svg class="ellipse-7" width="388" height="201" viewBox="0 0 388 201" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M379.658 201C379.658 201 416.279 94.6104 336.065 36.3529C210.003 -55.2043 55.2487 49.663 0 94.6104" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>

      <svg class="ellipse-8" width="334" height="224" viewBox="0 0 334 224" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M324.446 224C324.446 224 366.737 134.885 273.363 51.9272C158.772 -49.8825 45.5606 20.3805 0 73.4363" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>
    </div>
  </div>
  
  <script src="/index.js" defer></script> <!-- Linking external JavaScript file -->
</body>
</html>
