<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set and viewport -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title of the page -->
  <title>FBLA Project</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div class="section-3">
    <!-- Sign Up Section -->
    <div class="section-2">
      <!-- Heading for sign up -->
      <div class="sign-up-to-get-started">Sign Up To Get Started</div>

      <!-- Register Form -->
      <!-- Two rectangles for styling -->
      <svg class="rectangle-2" width="342" height="47" viewBox="0 0 342 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5C0 2.23858 2.23858 0 5 0H337C339.761 0 342 2.23858 342 5V42C342 44.7614 339.761 47 337 47H5C2.23858 47 0 44.7614 0 42V5Z" fill="#EEEEEE"/>
      </svg>

      <!-- Additional Input Fields -->
      <!-- Two rectangles for styling -->
      <svg class="rectangle-4" width="342" height="50" viewBox="0 0 342 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5C0 2.23858 2.23858 0 5 0H337C339.761 0 342 2.23858 342 5V45C342 47.7614 339.761 50 337 50H5C2.23858 50 0 47.7614 0 45V5Z" fill="#EEEEEE"/>
      </svg>

      <svg class="rectangle-3" width="342" height="50" viewBox="0 0 342 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5C0 2.23858 2.23858 0 5 0H337C339.761 0 342 2.23858 342 5V45C342 47.7614 339.761 50 337 50H5C2.23858 50 0 47.7614 0 45V5Z" fill="#EEEEEE"/>
      </svg>

      <!-- Register Form -->
      <form action="/register" method="POST" >
        <!-- Input field for school name -->
        <input type="text" name="school" class="school-name" placeholder="School Name" autocomplete="off" >
        <!-- User icon -->
        <img class="user" src="/img/user.png" />

        <!-- Input field for email address -->
        <input type="email" name="username" class="email-address" placeholder="Email Address" autocomplete="off">
        <!-- Gmail logo -->
        <img class="gmail-logo" src="/img/gmail.png" />

        <!-- Input field for password -->
        <input type="password" class="password" name="password" placeholder="Password" autocomplete="off">
        <!-- Lock icon -->
        <img class="lock" src="/img/lock.png" />

        <!-- Submit button -->
        <button class="bn54">
          <span class="bn54span">Register</span>
        </button>
      </form>

      <!-- Welcome message -->
      <div class="hello">Hello!</div>
    </div>

    <!-- Section 1 -->
    <div class="section-1">
      <!-- Ellipse SVGs for decoration -->
      <svg class="ellipse-3" width="405" height="134" viewBox="0 0 405 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M405 0C405 75.5808 313.669 134 208.895 134C104.121 134 0 75.5808 0 0" stroke="white" stroke-opacity="0.2" stroke-width="0.5"/>
      </svg>

      <svg class="ellipse-5" width="227" height="46" viewBox="0 0 227 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M227 0C227 24.6112 161.848 46 109.217 46C56.5858 46 0 24.6112 0 0" stroke="white" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>

      <svg class="ellipse-6" width="335" height="94" viewBox="0 0 335 94" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M335 0C335 24.3842 252.85 94 157.898 94C75.1892 94 0 24.3842 0 0" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
      </svg>

      <!-- Title -->
      <div class="title">Welcome To - <br>SchoolConnect Partners!</div>
    </div>

    <!-- Login link -->
    <a class="login" href="/loginn" >Or Log In</a>

    <!-- Additional Ellipse SVGs for decoration -->
    <svg class="ellipse-7" width="388" height="201" viewBox="0 0 388 201" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M379.658 201C379.658 201 416.279 94.6104 336.065 36.3529C210.003 -55.2043 55.2487 49.663 0 94.6104" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
    </svg>

    <svg class="ellipse-8" width="334" height="224" viewBox="0 0 334 224" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M324.446 224C324.446 224 366.737 134.885 273.363 51.9272C158.772 -49.8825 45.5606 20.3805 0 73.4363" stroke="#919191" stroke-opacity="0.6" stroke-width="0.5"/>
    </svg>
  </div>
  
  <!-- JavaScript file for functionality -->
  <script src="/index.js" defer></script>
</body>
</html>
